@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #1d1e31;
}


img {
    user-select: none;
    width: 150px;
    height: auto;
}
.container {
    background-color: #222339;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;

    min-width: 200px;
    max-width: 300px;
    min-height: 100px;
    max-height: 200px;
    height: auto;

    margin: auto;
    margin-top: 30vh;
}

h1 {
    font-family: "Poppins";
    color: #60f;
    font-weight: 600;
    font-size: 16px;
}